.App {
    text-align: center;
}

/* .App-logo {
    height: 100px;
} */

.logo {
    animation: App-logo-spin infinite 3s cubic-bezier(.85,.01,.25, 1);
    height: 8em;
}

 {
 position:relative;
 display:block
}
header {
 border-top:1px solid transparent
}

.stepHeader {
    color: #7795f8 !important;
}

.stepCard {
    background-color: #fafdfd !important;
}

.stripes {
    position:absolute;
    z-index:-1;
    width:100%;
    top: 0;
    display: grid;
    grid: repeat(5, 200px) / repeat(5, 1fr);
    /* background:linear-gradient(#50a6b1,#709dc7 10%,#e4dcf5 38%,#eaf2f9 48%,#f6f9fc 62%); */
    /* background-color: #47ccaf; */
    background:linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    transform: skewY(-12deg);
    transform-origin: 0;
}

header .stripes :nth-child(1) {
 grid-column:span 3;
 /* background:linear-gradient(100grad,rgba(243,251,255,.4),rgba(243,251,255,.15) 20%,rgba(243,251,255,0)) */
}
header .stripes :nth-child(2) {
 grid-area:3/span 3/auto/-1
}
header .stripes :nth-child(3) {
 grid-row:4;
 grid-column:span 5
}
header .stripes :nth-child(4) {
 grid-area:4/span 5/auto/-1
}
header .stripes :nth-child(5) {
 grid-area:auto/1/-1/-1;
 background:linear-gradient(100grad,#fff 80%,#f5fafd)
}
@media (min-width:670px) {
 header .stripes :nth-child(2) {
  background:linear-gradient(100grad,rgba(0,119,204,0),rgba(0,119,204,.05) 40%,rgba(0,119,204,.35))
 }
header .stripes :nth-child(3) {
  background:linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0))
 }
header .stripes :nth-child(4) {
  background:linear-gradient(100grad,rgba(0,119,204,0) 10%,rgba(0,119,204,.05))
 }
}

h1 {
    color: #FFFFFF !important;
}

h2 {
    color: #FFFFFF !important;
}

#intro {
    position:relative;
    z-index:1;
    padding-top:80px
}

.App-intro {
    /* font-family: Open Sans, sans-serif; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: large;
    margin-left: 25%;
    margin-right: 25%;
}

.button:hover {
  color: #7795f8;
  transform: translateY(-3px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}



@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@@keyframes color {
    0% {
      fill: #99002f
    }
    50% {
      fill: #ffc426
    }
    100% {
      fill: #99002f
    }
}
