.App {
    text-align: center;
}

.logo {
    animation: App-logo-spin infinite 3s cubic-bezier(.85,.01,.25, 1);
    height: 6em;
}

header {
 border-top: 1px solid transparent
}

.stepHeader {
    color: #6772e4 !important;
}

.stepCard {
    background-color: #fafdfd !important;
}

.ui.horizontal.segments.equal.width > .ui.segment {
    flex-grow:1;
    width:0;
}

.stripes {
    position:absolute;
    z-index:-1;
    width:100%;
    top: 0;
    display: grid;
    grid: repeat(5, 4.4em) / repeat(5, 1fr);
    /* background:linear-gradient(#50a6b1,#709dc7 10%,#e4dcf5 38%,#eaf2f9 48%,#f6f9fc 62%); */
    /* background-color: #47ccaf; */
    background:linear-gradient(150deg,#53f 10%,#05d5ff 70%,#a6ffcb 94%);
    /* background:linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%); */
    transform: skewY(-9deg);
    transform-origin: 0;
}

header .stripes :nth-child(1) {
    grid-column:span 2;
    background:linear-gradient(100grad,rgba(218, 205, 255, 0.4),rgba(243,251,255,.15) 20%,rgba(243,251,255,0))
}
header .stripes :nth-child(2) {
    grid-row: 2/span 1;
    grid-column: 2/span 4;
    background:linear-gradient(100grad,rgba(0,119,204,0),rgba(0,119,204,.05) 40%,rgba(0,119,204,.35));
}
header .stripes :nth-child(3) {
    grid-row:5;
    grid-column: 1;
    /* background:linear-gradient(100grad,rgba(0,119,204,0),rgba(0,119,204,.05) 40%,rgba(0,119,204,.35)); */
    background: #1da4ff;
    /* background:linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0)); */
}
header .stripes :nth-child(4) {
    grid-row: 4/span 1;
    grid-column: 1/span 2;
    background:linear-gradient(100grad,rgba(0,119,204,0),rgba(0,119,204,.05) 40%,rgba(0,119,204,.00));
}
header .stripes :nth-child(5) {
    grid-row:5;
    grid-column:5;
    background: #a6ffcb;
 /* grid-area:auto/1/-1/-1;
 background:linear-gradient(1/00grad,rgba(0,119,204,0) 10%,rgba(0,119,204,.05)); */
}
@media (min-width:800px) {
    .stripes {
        grid: repeat(5, 200px) / repeat(5, 1fr);
    }
    .App-intro {
        margin-left: 25% !important;
        margin-right: 25% !important;
    }
    .logo {
        height: 10em;
    }
    #intro {
        padding-top: 10em !important;
    }
}

h1 {
    margin-top: 0.5em !important;
    color: #FFFFFF !important;
}

h2 {
    color: #FFFFFF !important;
}

#intro {
    position:relative;
    z-index:1;
    padding-top: 2em;
}

.App-intro {
    /* font-family: Open Sans, sans-serif; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}

.button:hover {
  color: #7795f8;
  transform: translateY(-3px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}



@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@@keyframes color {
    0% {
      fill: #99002f
    }
    50% {
      fill: #ffc426
    }
    100% {
      fill: #99002f
    }
}
